html,
body {
  margin: 0;
  padding: 0;
}

/*Theme*/
#themeIcon {
  display: inline-block;
  font-size: 30px;
  transition: transform 0.3s ease;
}
#themeIcon.rotate {
  transform: translateY(100%);
}
.themeModify {
  position: relative;
  overflow-y: hidden;
}

.c-b-projet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-inline: 0;
}

/*Modal de description*/
.modal-fixed-height {
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-fixed-height img {
  max-height: 78vh;
  object-fit: content;
}

.technologie {
  border-top: 1px solid #c0c0f2;
}

.card-footer .btn {
  height: fit-content;
}

.footer {
  margin-top: 1em;
  padding: 1em;
}

.list-group-item {
  cursor: pointer;
}

/*Animation au défilement*/
.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Animation aux survoles */
.hov-scale {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.hov-scale:hover {
  transform: scale(1.02);
  z-index: 1;
}
.nav-item {
  border-radius: 0.5rem;
  padding-inline: 0.2rem;
  text-align: center;
}

/*Couleur*/
body {
  background-color: rgb(176 197 247 / 56%);
}

.navbar {
  background: rgb(116, 180, 212);
}
.nav-item:hover {
  outline: solid rgba(29, 49, 80, 0.5);
}

.card:not(.project-card) {
  box-shadow: -0.1em 0.1em 5px 2px #c0c0c0;
}

.card-header {
  background-color: #0aa1c880;
}

.card-body:not(.c-b-projet) {
  background-color: #f0f8ff80;
}

.project-card {
  background-color: #4441;
}

.modal-body {
  background-color: #c0c0c080;
}

#Modal_VoyageAI .modal-header {
  background: linear-gradient(to right, #fff 15%, #4a90e2, #1c2e4a);
}
#Modal_VoyageAI .modal-content {
  background: linear-gradient(to bottom, #fff 15%, #4a90e2, #1c2e4a);
}

#Modal_To-do .modal-header {
  background: linear-gradient(to right, #bdd1c5 10%, rgba(15, 15, 216, 0.6))
    fixed;
}
#Modal_To-do .modal-content {
  background: linear-gradient(to bottom, #bdd1c5 10%, rgba(15, 15, 216, 0.6))
    fixed;
}

#Modal_GPI .modal-header {
  background-image: linear-gradient(to right, #00ff8000, #00990066, #0066444d);
}
#Modal_GPI .modal-content {
  background-image: linear-gradient(to bottom, #00ff8000, #00990066, #0066444d);
}

.list-group {
  box-shadow: -0.1em 0.1em 5px 2px #c0c0c0;
}

.list-group-item {
  background-color: #fcfaee50;
}

#contact {
  background: rgb(22 138 173 / 50%);
}

.project-card:hover {
  background-color: rgb(206, 211, 216);
}

/*Colors with Dark mode*/
[data-bs-theme="dark"] .navbar {
  background-color: rgb(64 129 160);
}

[data-bs-theme="dark"] input,
[data-bs-theme="dark"] textarea {
  background-color: #c0c0c080;
}

[data-bs-theme="dark"] .project-card:hover {
  background-color: rgb(71, 71, 71);
}

[data-bs-theme="dark"] .card-body:not(.c-b-projet) {
  background-color: rgb(92, 94, 100);
}
