div#intro {
  position: fixed;
  display: flex;
  inset: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: cornflowerblue;
  opacity: 1;
  scroll-behavior: unset;

  transition: opacity 1s ease;
}
/* Caché au début */
#main-content {
  opacity: 0;
  transition: opacity 1s ease;
}

/* Dégradé animé */
#intro .background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #050816, #0b1026, #111827, #1a1f3a);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
  z-index: -2;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.particles {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.particle {
  position: absolute;
  top: 100vh;
  animation: float linear infinite;
  color: whitesmoke;
  text-shadow: 0 1px 2px rgba(81, 109, 170, 0.4);
}

@keyframes float {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
@media (prefers-reduced-motion: reduce) {
  .background,
  .particle,
  .flake,
  .typewriter {
    animation: none;
  }
}

#intro > .content {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: rgb(177, 200, 207);
  width: 100%;
  top: 20%;
}

p#greeting {
  margin-top: 10px;
  opacity: 0.7;
  font-weight: 600;
}
